* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First Section Styling */

.one {
    display: flex;
    padding: 0 150px;
    background-image: url(Assets/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 60px;
}

.one-box-image img {
    width: 100%;
    height: auto;
}

header {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.one-box span {
    padding: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #6E757C;
    font-size: 17px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 243px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 23px;
    font-size: 16px;
    color: black;
    margin-left: 18px;
    margin-top: 14px;
    font-family: "Inter", sans-serif;
    border-radius: 7px;
}

.dropdown-content p {
    margin-bottom: 15px;
    margin-top: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.one-box span:hover {
    color: rgb(255, 110, 48);
    transition: .3s;
}

.one-heading span {
    padding: 0;
    font-size: 12px;
    color: rgb(116, 143, 181);
}

.one-heading span:hover {
    color: rgb(116, 143, 181);
}

.one-heading h1 {
    font-size: 68px;
    font-family: "Poppins", sans-serif;
    color: #272E35;
    font-weight: 600;
    line-height: 75px;
    margin-top: 20px;
}

.one-heading p {
    font-size: 18px;
    color: rgb(110, 117, 124);
    font-family: "Inter", sans-serif;
    line-height: 30px;
    margin-top: 20px;
}

.one-heading img{
    margin-top: 20px;
}

/* font-family: "Inter", sans-serif; */
/* font-family: "Poppins", sans-serif; */