* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First Section Styling */

.one {
    display: flex;
    padding: 0 150px;
    background-image: url(Assets/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 60px;
}

.one-box-image img {
    width: 100%;
    height: auto;
}

header {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.one-box span {
    padding: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #6E757C;
    font-size: 17px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 243px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 16px;
    color: black;
    margin-left: 18px;
    margin-top: 14px;
    font-family: "Inter", sans-serif;
    border-radius: 7px;
}

.dropdown-content p {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: rgb(255, 110, 48);
    color: white;
    transition: .3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.one-box span:hover {
    color: rgb(255, 110, 48);
    transition: .3s;
}

.one-heading span {
    padding: 0;
    font-size: 12px;
    color: rgb(116, 143, 181);
    cursor: auto;
}

.one-heading span:hover {
    color: rgb(116, 143, 181);
}

.one-heading h1 {
    font-size: 68px;
    font-family: "Poppins", sans-serif;
    color: #272E35;
    font-weight: 600;
    line-height: 75px;
    margin-top: 20px;
}

.one-heading p {
    font-size: 18px;
    color: rgb(110, 117, 124);
    font-family: "Inter", sans-serif;
    line-height: 30px;
    margin-top: 20px;
}

.one-heading img {
    margin-top: 20px;
}

/* Two Section Styling */

.two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 150px;
    flex-direction: column;
}

.two span {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: rgb(116, 143, 181);
    font-weight: 700;
}

.two-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    gap: 50px;
    margin-top: 70px;
}

.two-box-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.two-box-child img {
    width: 200px;
    align-self: center;
}

.two-box-child h2 {
    font-size: 24px;
    color: rgb(39, 46, 53);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.two-box-child p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    color: rgb(110, 117, 124);
}

/* Three Section Styling */

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 150px;
    background-color: #272E35;
    color: white;
}

.three h1 {
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 500px;
    text-align: center;
    line-height: 55px;
    margin-bottom: 40px;
}

.three-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.three-box-child {
    padding: 30px 30px;
    padding-bottom: 50px;
    background-color: #1E232B;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 20px;
}

.three-box-child h3 {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.three-box-child p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: rgb(221, 221, 221);
    margin-top: 10px;
}

.three-box-child img {
    margin-top: 30px;
    align-self: center;
}

/* Four Section Styling */

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 150px;
}

.four-box {
    display: flex;
    gap: 60px;
    background-image: url(Assets/dashed-line.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.four-box-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.four-box-child span {
    padding: 15px 30px;
    background-color: white;
    border: 6px solid rgb(255, 110, 48);
    border-radius: 50px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: rgb(39, 46, 53);
}

.four-box-child h3 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.four-box-child p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: rgb(110, 117, 124);
    margin-top: 10px;
    line-height: 30px;
}

.four-box-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.four-box-two img {
    margin-top: 40px;
}

.four-box-two h1 {
    font-size: 50px;
    font-family: "Inter", sans-serif;
}

/* Footer Section STyling */

footer {
    text-align: center;
    padding: 50px 150px;
}

footer p {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: rgb(110, 117, 124);
    margin-bottom: 20px;
}

footer p  span{
    color: rgb(255, 110, 48);
}

footer a{
    padding: 10px;
    text-decoration: none;
    color: rgb(110, 117, 124);
    font-family: "Inter",sans-serif;   
    font-size: 15px;
}

/* Fonts */

/* font-family: "Inter", sans-serif; */
/* font-family: "Poppins", sans-serif; */